<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Dashboard</title>
</head>
<body>

<%-include('./include/_header')%>
<main>

    <p class="one">In Middle Part</p>

<form action="/team" method="post">
<button type="submit" class="primary" name="userName" value="jayeshs" >My Team Info</button>
</form>

<form action="/myinfo" method="post">
    <button type="submit" class="primary" name="singleUser" value="jayeshs" >My Info</button>
</form>
<% if(typeof(users)!== "undefined"){ %>
    <%-include('./page.ejs')%>
  <% } else{ %>  
 <% } %>

</main>

<%-include('./include/_footer')%>


</body>
</html>

