<%-include('include/_header')%>

<body>

<main>

    <p class="one">In Middle Part</p>

<form action="/team" method="post">
<button type="submit" class="primary" name="userName" value="jayeshs" >My Team Info</button>
</form>

<form action="/myinfo" method="post">
    <button type="submit" class="primary" name="singleUser" value="jayeshs" >My Info</button>
</form>
<% if(typeof(users)!== "undefined"){ %>
    <%-include('./page.ejs')%>
  <% } else{ %>  
 <% } %>

</main>

<%-include('./include/_footer')%>
<!-- 
  <!-- End custom js for this page-->
</body>

</html>